In [1]:
import pandas as pd

In [2]:
datas=pd.read_csv("50_Startups.csv")

In [3]:
datas=pd.get_dummies(datas,drop_first=True)

In [4]:
datas.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [5]:
independent=datas[['R&D Spend', 'Administration', 'Marketing Spend',
       'State_Florida', 'State_New York']]

In [6]:
dependent=datas[['Profit']]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
x_train

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
7   130298.13       145530.06        323876.68              1               0
14  119943.24       156547.42        256512.92              1               0
45    1000.23       124153.04          1903.93              0               1
48     542.05        51743.15             0.00              0               1
29   65605.48       153032.06        107138.38              0               1
15  114523.61       122616.84        261776.23              0               1
30   61994.48       115641.28         91131.24              1               0
32   63408.86       129219.61         46085.25              0               0
16   78013.11       121597.55        264346.06              0               0
42   23640.93        96189.63        148001.11              0               0
20   76253.86       113867.30        298664.47              0               0
43   15505.73       127382.30         35534.17              0               1
8   120542.52       148718.95        311613.29              0               1
13   91992.39       135495.07        252664.93              0               0
25   64664.71       139553.16        137962.62              0               0
5   131876.90        99814.71        362861.36              0               1
17   94657.16       145077.58        282574.31              0               1
40   28754.33       118546.05        172795.67              0               0
49       0.00       116983.80         45173.06              0               0
1   162597.70       151377.59        443898.53              0               0
12   93863.75       127320.38        249839.44              1               0
37   44069.95        51283.14        197029.42              0               0
24   77044.01        99281.34        140574.81              0               1
6   134615.46       147198.87        127716.82              0               0
23   67532.53       105751.03        304768.73              1               0
36   28663.76       127056.21        201126.82              1               0
21   78389.47       153773.43        299737.29              0               1
19   86419.70       153514.11             0.00              0               1
9   123334.88       108679.17        304981.62              0               0
39   38558.51        82982.09        174999.30              0               0
46    1315.46       115816.21        297114.46              1               0
3   144372.41       118671.85        383199.62              0               1
0   165349.20       136897.80        471784.10              0               1
47       0.00       135426.92             0.00              0               0
44   22177.74       154806.14         28334.72              0               0

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [10]:
x_train

array([[ 1.17644103,  0.84515251,  0.94354978,  2.        , -0.76870611],
       [ 0.96420324,  1.27283565,  0.42738817,  2.        , -0.76870611],
       [-1.47369826,  0.0153175 , -1.52350329, -0.5       ,  1.30088727],
       [-1.48308929, -2.79556363, -1.53809178, -0.5       ,  1.30088727],
       [-0.14952431,  1.13637282, -0.71716495, -0.5       ,  1.30088727],
       [ 0.85312042, -0.04431628,  0.46771725, -0.5       ,  1.30088727],
       [-0.22353674, -0.3151007 , -0.83981652,  2.        , -0.76870611],
       [-0.19454707,  0.21199679, -1.18497259, -0.5       , -0.76870611],
       [ 0.10478723, -0.08388412,  0.48740807, -0.5       , -0.76870611],
       [-1.0096458 , -1.07019473, -0.4040623 , -0.5       , -0.76870611],
       [ 0.06872897, -0.38396487,  0.75036616, -0.5       , -0.76870611],
       [-1.17638797,  0.14067421, -1.26581817, -0.5       ,  1.30088727],
       [ 0.97648631,  0.9689421 ,  0.84958395, -0.5       ,  1.30088727],
       [ 0.39131191,  0.45560401,  0.3979037 , -0.5       , -0.76870611],
       [-0.16880669,  0.6131351 , -0.48098026, -0.5       , -0.76870611],
       [ 1.2088001 , -0.92947267,  1.24226224, -0.5       ,  1.30088727],
       [ 0.44593006,  0.82758768,  0.62707846, -0.5       ,  1.30088727],
       [-0.90483959, -0.20234037, -0.21407884, -0.5       , -0.76870611],
       [-1.49419935, -0.26298539, -1.19196207, -0.5       , -0.76870611],
       [ 1.83846539,  1.07214791,  1.86319367, -0.5       , -0.76870611],
       [ 0.42966802,  0.13827054,  0.37625394,  2.        , -0.76870611],
       [-0.59092478, -2.81342077, -0.02839248, -0.5       , -0.76870611],
       [ 0.08492419, -0.95017758, -0.46096486, -0.5       ,  1.30088727],
       [ 1.26493068,  0.90993408, -0.55948669, -0.5       , -0.76870611],
       [-0.11002675, -0.69903054,  0.79713886,  2.        , -0.76870611],
       [-0.90669595,  0.12801572,  0.00300304,  2.        , -0.76870611],
       [ 0.11250125,  1.16515207,  0.75858643, -0.5       ,  1.30088727],
       [ 0.27709192,  1.15508553, -1.53809178, -0.5       ,  1.30088727],
       [ 1.03371959, -0.585363  ,  0.79877008, -0.5       , -0.76870611],
       [-0.70388936, -1.58289852, -0.19719396, -0.5       , -0.76870611],
       [-1.46723718, -0.30831009,  0.73848951,  2.        , -0.76870611],
       [ 1.46491286, -0.19745694,  1.39810017, -0.5       ,  1.30088727],
       [ 1.89486118,  0.51005662,  2.07686138, -0.5       ,  1.30088727],
       [-1.49419935,  0.4529585 , -1.53809178, -0.5       , -0.76870611],
       [-1.0396359 ,  1.20524087, -1.32098255, -0.5       , -0.76870611]])

In [122]:
from sklearn.svm import SVR
regr=SVR(kernel="sigmoid",C=3000)
 

regr.fit(x_train,y_train)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='sigmoid', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [123]:
regr.intercept_

array([112431.88863502])

In [124]:
regr.n_support_

array([         0, 1072693248])

In [125]:
regr.support_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34])

In [126]:
y_pred=regr.predict(x_test)

In [127]:

from sklearn.metrics import r2_score
r_score = r2_score(y_test,y_pred)
r_score

0.5913630209426106